:root {
    --font1: 'Barlow Condensed', sans-serif;
    --font2: 'Barlow', sans-serif;
    --font3: 'Handjet', sans-serif;
    --text: #000000;
    --bg: #f2f2f2;
    --blue1: #272f41;
    --accent1: #e9ae2e;
    --btn1: #dab566;
    --white: #ffffff;
    --black: #000000;
    --light-grey: #eeeeee;
    --mid-grey: #a3a3a3;
    --dark-grey: #363636;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: var(--font1);
    font-size: 1rem;
    line-height: 1.6;
    color: var(--text);
    background-color: var(--bg);
    overflow-x: hidden;
  }