.main-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}

.section {
  padding: 5vh 2vw;
  margin-bottom: 5vh;
}
  
/* === SPACERS ===*/
.spacer-5vh {
  height: 5vh;
}

.spacer-10vh {
  height: 10vh;
}